<h1>{{.Title}}</h1>
 <hr style="padding-top:-10px;">
<center>

<form action="/change_password" class="form-horizontal" method="post" role="form">
<div class="form-group">
<label for="current_password" class="col-md-2 control-label">当前密码</label>
<div class="col-lg-6">
<input type="password" name="current_password" id="current_password" class="form-control"/>
</div>
</div>
<div class="form-group">
<label for="new_password" class="col-md-2 control-label">新密码</label>
<div class="col-lg-6">
<input type="password" name="new_password" id="new_password" class="form-control"/>
</div>
</div>
<div class="form-group">
<label for="confirm_password" class="col-md-2 control-label">新密码确认</label>
<div class="col-lg-6">
<input type="password" name="confirm_password" id="confirm_password" class="form-control"/>
</div>
</div>
<div class="form-group">
<div class="col-lg-offset-2 col-lg-10">
<button type="submit" class="btn btn-primary">修改密码</button>
</div>
</div>
</form>