<h1>{{.Title}}</h1>
 <hr style="padding-top:-10px;">
<center>
<form  method="post">
<label for="username">username: </label>
<input type="text" name="username" id="username" value="{{.uname}}" placeholder="(Enter your username)"><br>
<label for="password">Password: </label>
<input type="password" name="password" id="password" value="" placeholder="(Enter your password)"><br>
<input type='checkbox' name='save_login' value='1' checked='checked'/> 记住我的登录信息<br>
<br>
<a href="/user/reset-pwd">忘记登录密码？</a> 
 
<input type='button' onClick="javascript:location.href='/user/add'" value='新用户注册'/> 
<input type="submit" value="登录">

</form>
</center>