
<h1>{{.Title}}</h1>
 
 <hr style="padding-top:-10px;">

<form method="post">
<label class="control-label" for="authmode">验证模式: </label>
 <select class="form-horizontal form-control input-sm" name="authMode" id="authmode" onchange="switchsource(this.value)" style="width: 100px">
{{range .authmodes}}
     <option   value="{{.Id}}" {{if .IsSelected}} selected="selected"{{end}}>{{.Value}}</option>
{{end}}
</select>
	<br>
 
 <label class="control-label" for="namefromart">姓名格式: </label>
 <select class="form-horizontal form-control input-sm" name="namefromart" id="namefromart" onchange="switchsource(this.value)" style="width: 100px">
{{range .namefromarts}}
     <option   value={{.Id}} {{if .IsSelected}} selected="selected"{{end}}>{{.Value}}</option>
{{end}}
</select>
	<br>
	  <hr style="padding-top:0px;">
    <div class="control-group">
        <div class="controls" style="float:right;">
	        <input type="button"  class="btn" value="复位" onclick="location.reload()" />
            <button type="submit" class="btn btn-primary">提交</button>
        </div>
    </div>
</form>
 