<link href="http://behigh.github.io/bootstrap_dropdowns_enhancement/css/dropdowns-enhancement.css" rel="stylesheet">
<script src="http://behigh.github.io/bootstrap_dropdowns_enhancement/js/dropdowns-enhancement.min.js"></script>

<ul class="nav nav-pills" role="tablist">
  <li role="presentation" class="dropdown active">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="dropdown-source" >
       {{.authmode}} <span class="caret"></span>
    </a>
	<ul class="dropdown-menu" role="menu">
	{{range .authmodes}}
	     <li>
		  <input type="radio" id="us1_{{.Id}}" name="us1" value="{{.Id}}" onclick="switchsource(this.value)" {{if .IsSelected}} checked{{end}}  />
          <label for="us1_{{.Id}}">{{.Value}}</label>
         </li>
    {{end}} 
    </ul>
  </li>
 
  <li role="presentation" id="btn_adduser"><a href="/user/add"   class="jexDlg">新增用户</a></li>
  <li role="presentation" id="btn_synuser" style="display:none"><a href="/user/sync">LDAP同步</a></li>
  <li role="presentation"><a href="/user/import" data-dlg="body" class="jexDlg">导入</a></li>
  <li role="presentation"><a href="/user/export">导出</a></li>
</ul>

 <hr style="padding-top:-10px;">

<div id="tablepage">
{{template "authlogin/user_all.ajx.tpl" .}}
</div>
 

<script language="javascript">
function switchsource(v)
{
	//alert("mmm")
    if (v=="1") {
		document.getElementById("btn_adduser").style.display="block"; 
		document.getElementById("btn_synuser").style.display="none";   
    }
    else {
      document.getElementById("btn_adduser").style.display="none"; 
		document.getElementById("btn_synuser").style.display="block";   
    }
//	$.post("?m="+v, body ,function(data){
//				$('#output').html(data.result);
//			}, "json");
//	window.location.href="?m="+v;

   
            $.ajax({url: '/user?m='+v, 
            type: 'GET',
            dataType: 'html', 
            timeout: 1000, 
 
            error: function(){alert('Error');},  
 
            success: function(result){
                $("#tablepage").html(result);
            }  
 
            });  
        
      
		
}</script >
 
 
            