<h1>{{.Title}}</h1>
 <hr style="padding-top:-10px;">
 {{template "authlogin/nav.tpl" .}}

{{.Message}}
<center>
{{with .eUser}}
<form method="post" class="edit-user form-horizontal">
 <label for="Email">E-mail: </label>
 <input type="text" name="Email" id="Email" value="{{.Email}}" placeholder="(Enter your Email)"><br>

 <label for="Account">用户名:</label>
 <input type="text" id="Account" name="Account" placeholder="请输入用户名" value="{{.Account}}" ><br>
 
 <label for="Password">密码</label>
 <input type="password" id="Password" name="Password" value="" ><br>

 <label for="re-password">请重复输入密码</label>
 <input type="password" id="re-password" name="re-password" value="" /><br><br><br>
 
    <div class="control-group">
        <div class="controls">
 
		<input type='button' class="btn" onClick="javascript:history.back(-1);" value='放弃'/> 
            <button type="submit" class="btn btn-primary">保存修改</button>
        </div>
    </div>
</form><!-- End .edit-user -->
{{end}}
</center>