<h1>{{.Title}}</h1>
 <hr style="padding-top:-10px;">
<center>
<input type="hidden" name="location" value="add-user" />
<form method="post"  class="add-user form-horizontal">
 
        <label class="control-label" for="email">E-mail</label>
       <input type="email" id="email" name="email" placeholder="请输入E-mail地址" value="{{.Email}}" />
	  <br>
        <label class="control-label" for="account">用户名</label>
            <input type="text" id="account" name="account" placeholder="请输入用户名" value="{{.Account}}" />
			<br>
        <label class="control-label" for="password">密码</label>
            <input type="password" id="password" name="password" value="{{.Password}}" />
		  <br>
        <label class="control-label" for="re-password">请重复输入密码</label>
            <input type="password" id="re-password" name="re-password" />
 <br> <br> <br>
    <div class="control-group">
        <div class="controls">
		 
	          <input type="button"  class="btn" value="返回" onclick="javascript:history.back()" />
              <button type="submit" class="btn btn-primary">提交</button>
           
 
        </div>
    </div>
</form><!-- End .add-user -->